<!doctype html>
<html lang="es">
  <head>
          <title>Contactanos</title>
     <!-- This is the second form for use CSS -->
     <style type="tect/css">
	  h1{color: #fff;}
	  h2{color: #ffec00;}
	  #mih2{color:#78c2ab;}
	  body{background-color:#F5A9A9;}
	  p{
            font-size: 14px;
	          color: #C8FE2E;
	   }
	  #container{
		  margin: 5% 10% 5% 10%;
		  border:1px solid #ccc;
		  background-color: #F5A9A9;
		  padding:0 10px 10px 10px 0;
	   }
	  .parrafos{
		     background-color:#000;
	   }
	   label{font-weigth: bold;}
	 </style>
   </head>
<body>
    <div id="container">
       <h1>Contactanos</h1>
       <h1>Tenemos la solucion a tu necesidad</h1>

          <form>
          <p>
              <label>Dia</label> 
         
              <select name="Dia">
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
	               <option>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
                 <option>9</option>
                 <option>10</option>
                 <option>11</option>
                 <option>12</option>
                 <option>13</option>
                 <option>14</option>
                 <option>15</option>
                 <option>16</option>
                 <option>17</option>
                 <option>18</option>
                 <option>19</option>
                 <option>20</option>
                 <option>21</option>
                 <option>22</option>
                 <option>23</option>
                 <option>24</option>
                 <option>25</option>
                 <option>26</option>
                 <option>27</option>
                 <option>28</option>
                 <option>29</option>
                 <option>30</option>
                 <option>31</option>


                 <option selected="selected">
                 --seleccionar--</option>
                 </select>
              <label>Mes</label> 
        
              <select name="Mes">
                 <option>Enero</option>
                 <option>Febrero</option>
                 <option>Marzo</option>
                 <option>Abril</option>
                 <option>Mayo</option>
                 <option>Junio</option>
                 <option>Julio</option>
                 <option>Agosto</option>
                  <option>Septiembre</option>
                 <option>Octubre</option>
                 <option>Noviembre</option>
                 <option>Diciembre</option>
 
                 <option selected="selected">
                 --seleccionar--</option>
                 </select>
          </p>

             <p>
            
                 <label>Nombre:</label>
                 <div class="label"><input type="text" name="nombre"/></div>
                </p>
                <p>
                  <div class="label"><label>Email:</label></div>
                  <input type="text" name="email"/>
                </p>
                <p>
                  <label>Deja tu comentario..</label>
                  </p>
                  <p> 
                  <textarea name ="comentario"
                        cols="100" rows="10">
                  </textarea>
                  </p>
                  <p>
                     <input type="submit" value="Enviar mensaje"/>
                     <input type="reset" value="limpiar datos"/>
                     </p>   
                   </form> 
            </div>          
          </body>
 </html>             
                     
                   
		  



        
              
                   
		  



